@charset "UTF-8";
/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap");
/*@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap'); */
/*@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');*/
.animate__fadeInRight {
  animation-duration: 1s;
}

.animate__fadeInLeft {
  animation-duration: 1s;
}

.animate__fadeIn {
  animation-duration: 5s;
}

/*BOTONES*/
.buttoncuerno {
  background-color: #FFD204;
  font-family: "Lobster", sans-serif;
  margin: 4px 0 4px 138px;
  padding: 8px 16px;
  border: none;
  color: black;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
}
.buttoncuerno:hover {
  opacity: 1;
}

div .buttoncuerno {
  display: inline-flex;
  padding: 16px;
  margin-left: 74%;
  position: absolute;
  margin-top: -20%;
}

#buttonMultimedia {
  background-color: #FFD204;
  font-family: "Lobster", sans-serif;
  margin: auto;
  padding: 8px 16px;
  border: none;
  color: black;
  text-align: center;
  font-size: 16px;
  opacity: 1;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  position: relative;
}

.buttoninscripcion {
  background-color: #FFD204;
  font-family: "Lobster", sans-serif;
  margin: 2% auto auto auto;
  padding: 16px;
  border: none;
  color: black;
  text-align: center;
  font-size: 16px;
  position: relative;
  right: -3rem;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
}

.inicioSesion {
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  display: block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
  background-color: rgb(178, 162, 115);
  text-align: center;
  font-size: 16px;
  font-family: "Lobster", sans-serif;
  border: none;
  width: 20.6%;
  height: 36px;
}

.inicioGoogle {
  color: #B2A273;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 16px;
  font-family: "Lobster", sans-serif;
  border: none;
  width: 20.6%;
  height: 36px;
}

.cartas {
  position: relative;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  margin: 2% 20%;
}

.cartas::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
  scrollbar-width: 12px;
}

.cartas::-webkit-scrollbar-thumb {
  background: rgba(7, 32, 44, 0.7);
  border-radius: 8px;
}

.carta {
  width: 12%;
  transition: 0.2s;
}
.carta:hover {
  transform: translateY(-1rem);
}

.cartasestaticas {
  position: relative;
  display: flex;
  justify-content: center;
}

.cartasporcentajes {
  display: flex;
  position: relative;
  gap: 7.5%;
  font-size: 25px;
  margin-left: -1%;
  justify-content: center;
}

.cartaestatica {
  padding: 2rem;
  width: 12%;
}

.carta:not(:first-child) {
  margin-left: 1rem;
}

.carta:hover ~ .carta {
  transform: translateX(4rem);
}

.cartaTabla {
  width: 12%;
}

/*HEADER*/
#logo {
  width: 10%;
  margin-left: 0.8%;
}

.navbar {
  margin-bottom: 4%;
}

.nav-link {
  color: white;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #1494BF;
}

.navbar-nav {
  --bs-nav-link-hover-color: #FFD204;
}

.navbar-expand-lg .navbar-collapse {
  margin-left: 25%;
}

.navbar-toggler {
  background-color: #1494BF;
  margin-left: 85%;
  margin-top: -12%;
}

main a {
  list-style-type: none;
  overflow: hidden;
  text-decoration: none;
  color: white;
  font-family: "Assistant", sans-serif;
  font-size: 12px;
}

#sesionmobile {
  display: none;
}

/* NAV */
nav {
  font-family: "Assistant", sans-serif;
  font-size: 18px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  display: inline;
  float: right;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  text-decoration: none;
  color: #FFD204;
}

.active {
  color: #1494BF;
  font-weight: bolder;
}

.buttonsesion {
  background-color: #1494BF;
  color: white;
  border-radius: 6px;
  padding: 5px 5px;
  border: rgba(0, 0, 0, 0);
  width: 37px;
  font-size: 20px;
  text-align: center;
}
.buttonsesion:hover {
  margin-top: -5px;
  background-color: #FFD204;
}

/* Imagenes de fondo */
.index {
  background-image: url(../imagenes/background-img2.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.iniciarSesion {
  background-image: url(../imagenes/iniciarsesionToro.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.inscripciones {
  background-image: url(../imagenes/inscripcionesToro.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
}

.multimedia {
  background-image: url(../imagenes/recordsToro.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.rankings {
  background-attachment: fixed;
  background-image: url(../imagenes/cuernoToro.png);
  background-repeat: no-repeat;
}

.voteFijo {
  background-color: rgba(23, 32, 42, 0.4);
  display: inline;
  padding: 300% 100% 8.5% 0;
  box-shadow: 50px 50px 50px -46px #696969;
  z-index: -1;
}

/*TEXTOS*/
main h1 {
  color: #FFD204;
  font-family: "Heebo", sans-serif;
  font-size: 50px;
  margin-left: 35px;
  font-weight: bolder;
}
main h2 {
  color: white;
  font-family: "Heebo", sans-serif;
  font-size: 38px;
  font-style: italic;
  text-align: right;
  margin-right: 18.5%;
}
main h3 {
  color: #FFD204;
  font-family: "Heebo", sans-serif;
  font-size: 35px;
  margin-left: 109px;
}
main h4 {
  color: #FFD204;
  font-family: "Heebo", sans-serif;
  font-size: 37px;
  position: relative;
  margin: -3% 0 2% 0;
  text-align: center;
}
main h6 {
  color: white;
  font-size: 15px;
  font-family: "Assistant", sans-serif;
  font-style: italic;
  margin-left: 70px;
  margin-top: -7px;
  font-weight: bolder;
}
main p {
  color: white;
  font-family: "Lobster", sans-serif;
  margin-left: 35px;
}

div h1 {
  color: #FFD204;
  font-family: "Heebo", sans-serif;
  text-align: center;
  margin: 11% 0 0 0;
}
div h2 {
  color: #097F72;
  font-family: "Heebo", sans-serif;
  font-size: 30px;
  margin-top: -34rem;
  margin-left: 135px;
  text-align: unset;
}
div h6 {
  color: white;
  font-size: 20px;
  font-family: "Assistant", sans-serif;
  font-style: italic;
  margin-left: 104px;
  margin-top: -14px;
}
div p {
  color: white;
  font-family: "Lobster", sans-serif;
  text-align: center;
  font-size: 10px;
  margin-left: 5px;
}
div #parrafoCuerno {
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
  text-align: center;
  font-size: 10px;
  margin-left: 5px;
}
div section {
  background: white;
  display: flex;
  padding: 6px;
  width: 25%;
  justify-content: center;
  text-align: center;
  margin-left: 51%;
}
div section p {
  color: black;
}

section h1 {
  color: #FFD204;
  font-family: "Heebo", sans-serif;
  font-size: 55px;
  text-align: center;
  margin-top: 25px;
  margin-left: 0;
}
section h2 {
  color: #FFD204;
  font-family: "Heebo", sans-serif;
  font-size: 45px;
  text-align: center;
  margin: 25px 0 0 0;
}
section p {
  color: #FFD204;
  font-family: "Heebo", sans-serif;
  font-weight: bolder;
}

.punteros p {
  color: white;
  font-family: "Lobster", sans-serif;
  text-align: center;
  font-size: 10px;
  margin-left: 8px;
  position: absolute;
  margin-top: -26px;
}
.punteros h4 {
  color: #bbbbbb;
  font-family: "Lobster", sans-serif;
  text-align: justify;
  font-size: 20px;
  position: unset;
  margin: 0;
}
.punteros h6 {
  color: white;
  font-size: 15px;
  font-family: "Assistant", sans-serif;
  font-style: italic;
  margin-left: 8px;
  margin-top: -10px;
  position: absolute;
}

.inscripcionestitle {
  color: #FFD204;
  font-family: "Heebo", sans-serif;
  font-size: 45px;
  text-align: center;
  position: relative;
  margin-left: 50%;
  bottom: -3rem;
}

#tituloinscripcion {
  color: #FFD204;
  font-family: "Heebo", sans-serif;
  text-align: center;
  margin: 0px 0 10px 96px;
  font-size: 50px;
  font-weight: bolder;
}

.pieimagen {
  color: gray;
  font-size: 13px;
}

.titlesesion {
  color: #FFD204;
  font-family: "Heebo", sans-serif;
  font-size: 50px;
  text-align: center;
  margin-left: 0;
}

mark {
  background-color: rgba(255, 210, 4, 0.4);
  color: white;
}

.sesionlinks {
  display: inline-flex;
  justify-content: center;
  gap: 11%;
  margin: 2% 27.5%;
  width: 45%;
}

#subtitulomultimedia {
  color: white;
  font-family: "Heebo", sans-serif;
  font-size: 38px;
  text-align: center;
  margin: 0;
}

/*MULTIMEDIA*/
#noticiasContenedor {
  margin-left: 26%;
  margin-top: 4%;
  width: 143%;
}
#noticiasContenedor .pieimagen {
  font-size: 17px;
  margin-right: 65%;
  margin-left: 0;
  text-align: center;
  margin-bottom: 2%;
}

.noticias {
  width: 35%;
  box-shadow: 6px 0px 22px 4px #141414;
  transition: 0.2s;
  border-radius: 8px;
}
.noticias:hover {
  width: 36%;
}

.videoyt {
  width: 35%;
  box-shadow: 6px 0px 22px 4px #141414;
  transition: 0.2s;
  border-radius: 8px;
}
.videoyt:hover {
  width: 36%;
}

.toro-milano {
  width: 250px;
  margin-left: 75px;
}

.punteroscontainer {
  display: flex;
  gap: 3%;
  margin-left: 10%;
  margin-top: 6%;
}

.punteros img {
  width: 50%;
}
.punteros h4:hover {
  color: #FFD204;
  cursor: default;
}
.punteros:hover img {
  transform: rotate(-15deg);
  transition: 0.5s;
}
.punteros:hover p {
  color: #FFD204;
}

#active {
  color: #1494BF;
}

#toroinscrip {
  width: 18rem;
  margin-left: 6rem;
  box-shadow: 5px 5px 10px #423601;
}

/* ----------- MEDIA QUERYS ------------ */
@media only screen and (max-width: 480px) {
  /*BACKGROUND*/
  .index {
    background-image: url(../imagenes/backgroundmobile/backgroundimgmobile.png);
  }
  .iniciarSesion {
    background-image: url(../imagenes/backgroundmobile/iniciarsesionmobile.png);
  }
  .rankings {
    background-color: #292828;
    background-image: url(../imagenes/backgroundmobile/rankingsmobile.png);
    background-repeat: no-repeat;
  }
  .inscripciones {
    background-image: url(../imagenes/backgroundmobile/inscripmobile.png);
    overflow: unset;
  }
  .multimedia {
    background-image: url(../imagenes/backgroundmobile/multimmobile.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-size: cover;
  }
  /*HEADER*/
  #sesionmobile {
    display: unset;
  }
  .buttonsesion {
    display: none;
  }
  .navbar-nav {
    margin-left: 65%;
  }
  .navbar-expand-lg .navbar-collapse {
    margin-left: 0;
  }
  /*MAIN*/
  /*Textos*/
  main h1 {
    color: #FFD204;
    font-family: "Heebo", sans-serif;
    font-size: 40px;
    margin-top: 11% !important;
    display: flex;
    justify-content: center;
    margin-left: 0;
    text-align: center;
  }
  main h3 {
    text-align: center;
    margin-top: 15%;
    margin-left: 0;
    font-size: 28px;
  }
  main h4 {
    font-size: 25px;
    margin: 5% 0 2% 0;
  }
  main h4 em {
    font-size: 35px;
  }
  main h6 {
    color: white;
    font-size: 15px;
    font-family: "Assistant", sans-serif;
    font-style: italic;
    margin-top: 0;
    display: flex;
    justify-content: center;
    margin-left: 0;
    text-align: center;
    font-weight: bolder;
  }
  main a {
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;
    color: white;
    font-family: "Assistant", sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  section a {
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;
    color: white;
    font-family: "Assistant", sans-serif;
    font-size: 12px;
    text-align: center;
    display: unset;
  }
  section h2 {
    font-size: 175%;
  }
  section table {
    width: 90% !important;
    font-size: 53% !important;
  }
  .sesionlinks {
    display: flex;
    justify-content: space-around;
    margin: 2% 10%;
    margin-top: 4%;
    width: unset;
  }
  mark {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: -35px;
    margin-top: 15%;
  }
  .pieimagen {
    color: gray;
    font-size: 13px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: -1%;
  }
  .punteroscontainer {
    gap: 1%;
    margin-left: -7%;
  }
  .punteros {
    /*
    &:hover{
        #deployCuernoRank{
            display: block !important;
        }
    }*/
  }
  .punteros h4 {
    text-align: left;
    font-size: 0.75rem;
  }
  .punteros h6 {
    font-size: 14px;
    margin-left: 0;
    margin-top: 14px;
    text-align: justify;
  }
  .punteros p {
    font-size: 9.5px;
    margin-top: 0;
    margin-left: 0;
  }
  .punteros img {
    width: 79%;
    margin-top: 20%;
  }
  .ranksMobile {
    display: none;
  }
  #parrafoCuerno {
    font-size: 40% !important;
  }
  div h1 {
    margin: 0;
  }
  div h2 {
    margin: 189px 0 0 0;
    text-align: center;
  }
  .inscripcionestitle {
    margin-left: 1rem;
    bottom: -23px;
    right: 10px;
  }
  #tituloinscripcion {
    color: #FFD204;
    font-family: "Heebo", sans-serif;
    font-size: 40px;
    margin-top: 11% !important;
    display: flex;
    justify-content: center;
    margin-left: 0;
    text-align: center;
  }
  /*Botones*/
  .buttoncuerno {
    background-color: #FFD204;
    font-family: "Lobster", sans-serif;
    border: none;
    color: black;
    padding: 8px 16px;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
  }
  .inicioSesion {
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
    display: block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
    background-color: rgb(178, 162, 115);
    text-align: center;
    font-size: 16px;
    font-family: "Lobster", sans-serif;
    border: none;
    width: 73%;
    height: 36px;
  }
  .inicioGoogle {
    color: #B2A273;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    font-family: "Lobster", sans-serif;
    border: none;
    width: 73%;
    height: 36px;
  }
  .buttoninscripcion {
    margin: 4% auto auto auto;
    right: 0;
    font-size: 12px;
    padding: 10px;
    width: 260px;
    display: flex;
    justify-content: center;
  }
  div a {
    display: unset;
  }
  /*Forms*/
  form input {
    width: 70% !important;
  }
  /* MULTIMEDIA */
  .toro-milano {
    width: 55%;
    margin-left: 23.5%;
  }
  #toroinscrip {
    width: 13rem;
    margin-left: 0;
  }
  .punteroscontainer .punteros:nth-child(n+3) {
    margin-top: 56%;
  }
  .punteroscontainer .punteros:nth-child(-n+2) {
    display: inline;
  }
  .punteroscontainer .punteros:nth-child(1) {
    margin-left: 15%;
  }
  .punteroscontainer .punteros:nth-child(3) {
    margin-left: -85%;
  }
  .cartas {
    margin: 2% 5%;
  }
  .carta {
    width: 30%;
  }
  .cartasestaticas {
    margin-top: 5%;
  }
  .cartaestatica {
    padding: 0.4rem;
    width: 31%;
  }
  .cartasporcentajes {
    gap: 25%;
    font-size: 15px;
    margin: 0;
  }
  .cartasporcentajes p {
    margin: 0;
  }
  #noticiasContenedor {
    margin-left: 7%;
  }
  #noticiasContenedor .pieimagen {
    font-size: 12px;
    text-align: justify;
    display: block;
    margin: 0 57% 2% 0;
  }
  .noticias {
    width: 60%;
  }
  .noticias:hover {
    width: 61%;
  }
  .videoyt {
    width: 60%;
  }
  .videoyt:hover {
    width: 61%;
  }
  /* TABLES */
  .tablescroll {
    height: 400px !important;
    width: 95% !important;
    margin: 20px auto auto auto;
  }
  .inscriptos {
    margin-left: 15px !important;
  }
}
/* @media only screen and (min-width: 481px) and (max-width: 768px){

}

@media only screen and (min-width: 769px){

}
*/
@media only screen and (min-width: 481px) and (max-width: 991px) {
  /*BACKGROUNDIMAGES*/
  .index {
    background-image: url(../imagenes/backgroundtablet/mainbackgroundtablet.png);
  }
  .iniciarSesion {
    background-image: url(../imagenes/backgroundtablet/sesionbackgroundtablet.png);
  }
  .rankings {
    background-image: url(../imagenes/backgroundtablet/rankingbackgroundtablet.png);
  }
  .inscripciones {
    background-image: url(../imagenes/backgroundtablet/inscripbackgroundtablet.png);
    overflow: unset;
  }
  .multimedia {
    background-image: url(../imagenes/backgroundtablet/multimbackgroundtablet.png);
    background-size: cover;
  }
  .voteFijo {
    background-color: unset;
    box-shadow: none;
  }
  /* HEADER */
  .navbar-nav {
    margin-left: 84%;
  }
  .navbar-expand-lg .navbar-collapse {
    margin-left: 0;
  }
  /* TEXTOS */
  main h1 {
    text-align: center;
  }
  main h6 {
    text-align: center;
  }
  main p {
    text-align: center;
  }
  div h2 {
    margin: 189px 0 0 0;
    text-align: center;
  }
  .sesionlinks {
    display: inline-flex;
    justify-content: center;
    gap: 30%;
    margin: 2% 28%;
    width: 45%;
  }
  .punteros h4 {
    font-size: 0.7rem;
  }
  .punteros h6 {
    font-size: 0.8rem;
  }
  .punteros p {
    font-size: 0.5rem;
    margin-top: -31px;
  }
  .punteros img {
    width: 70%;
    margin-top: 15%;
  }
  section td {
    font-size: 0.63rem;
  }
  .inscripcionestitle {
    margin-left: -6rem;
    bottom: -23px;
    text-align: center;
  }
  /* MULTIMEDIA */
  .toro-milano {
    width: 35%;
    margin-left: 35%;
  }
  .carta {
    width: 114px;
  }
  .cartas {
    margin: 2% 15%;
  }
  .cartasporcentajes {
    gap: 8rem;
    font-size: 1.5rem;
    margin: 0;
  }
  .cartasporcentajes p {
    margin: 0;
  }
  .cartaestatica {
    width: 175px;
  }
  #noticiasContenedor {
    margin: 4% 0 0 10%;
  }
  #noticiasContenedor .pieimagen {
    margin: 0 44% 2% 0;
  }
  .noticias {
    width: 56%;
  }
  .noticias:hover {
    width: 57%;
  }
  .videoyt {
    width: 56%;
  }
  .videoyt:hover {
    width: 57%;
  }
  /* BOTONES */
  .buttoncuerno {
    margin: 2% 40%;
    width: 24.8%;
    justify-content: center;
  }
  .inicioSesion {
    width: 42.5%;
    margin-bottom: 2%;
  }
  .inicioGoogle {
    width: 42.5%;
  }
  .buttoninscripcion {
    margin: 0.7rem auto auto auto;
    display: flex;
    justify-content: center;
    position: relative;
    left: 50px;
  }
  /* FORMS */
  form input {
    width: 40% !important;
  }
  form a {
    margin-left: 0;
  }
  section a {
    margin-left: 43%;
  }
  /* TABLES */
  .tablescroll {
    height: 300px !important;
    width: 95% !important;
    margin-left: 0;
    margin-top: 0 !important;
  }
}
@media only screen and (min-width: 992px) {
  #navcolorfix {
    --bs-nav-link-color: rgb(255,255,255);
    --bs-nav-link-hover-color: map-get($mainColors, amarillo);
  }
}
/*TABLAS*/
.inscriptos {
  margin-left: 35px;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid gray;
  width: 100%;
}
.inscriptos tr:nth-child(odd) {
  background-color: rgb(214, 238, 238);
}
.inscriptos tr:nth-child(even) {
  background-color: rgb(194, 225, 221);
}
.inscriptos td {
  text-align: center;
  padding: 13px;
}
.inscriptos td:first-child {
  text-align: left;
}

.tablescroll {
  height: 500px;
  overflow: auto;
  margin-top: 20px;
  display: inline-block;
  width: 550px;
}

.tablescroll::-webkit-scrollbar {
  display: none;
}

div table {
  width: 25%;
  border: 1px solid;
  font-family: "Lobster", sans-serif;
  font-size: 13px;
  font-weight: bolder;
}

td {
  color: #414444;
}

/*Color del icono de trophy*/
.contenedortablas {
  margin-top: 15%;
}

.fa-trophy {
  color: #eae31f;
}

section table {
  width: 70%;
  border: 1px solid;
  font-family: "Lobster", sans-serif;
  font-size: 18px;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  text-align: justify;
  vertical-align: middle;
  border-color: #097F72;
  margin-left: auto;
  margin-right: auto;
}
section td {
  color: #8E9292;
}

/*FOOTER*/
footer {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
footer p {
  color: #B2B6B7;
}
footer section {
  display: inline-flex;
  justify-content: flex-end;
  gap: 15px;
  margin-right: 12px;
}

.instagram {
  font-size: 25px;
  color: #FFD204;
}

.youtube {
  font-size: 25px;
  color: #FFD204;
}

/*FORMS*/
form label {
  color: white;
  font-family: "Assistant", sans-serif;
  font-size: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
form input {
  width: 30%;
  padding: 12px 20px;
  margin-top: 16px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid gray;
  background-color: rgba(0, 0, 0, 0);
  display: block;
  color: white;
}
form a {
  color: white;
  font-family: "Assistant", sans-serif;
}

/*Olvidaste tu contraseña?*/
.sesioncontrasena {
  color: white;
  margin-left: 1%;
  font-family: "Assistant", sans-serif;
}/*# sourceMappingURL=main.css.map */