.cartas{
    position: relative;
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    margin: 2% 20%;
}

.cartas::-webkit-scrollbar{
    background-color: rgba($color: #000000, $alpha: 0);
    scrollbar-width: 12px;
}

.cartas::-webkit-scrollbar-thumb{
    background: rgba($color: #07202c, $alpha: 0.7);
    border-radius: 8px;
}

.carta{
    width: 12%;
    transition: 0.2s;
    &:hover{
        transform: translateY(-1rem); 
    }
}

.cartasestaticas{
    position: relative;
    display: flex;
    justify-content: center;
}

.cartasporcentajes{
    display: flex;
    position: relative;
    gap: 7.5%;
    font-size: 25px;
    margin-left: -1%;
    justify-content: center;
}

.cartaestatica{
    padding: 2rem;
    width: 12%;
}

.carta:not(:first-child){
    margin-left: 1rem;
}
/*
.carta:nth-child(n+5){
    margin-left: -12rem;
    &:hover ~ .carta{
        transform: translateX(5rem);
    }
} 
/*
.carta:nth-child(n+10){
    margin-left: -13rem;
    &:hover ~ .carta{
        transform: translateX(6rem);
    }
}

.carta:nth-child(n+15){
    margin-left: -13rem;
}*/

.carta:hover ~ .carta{
    transform: translateX(4rem);
}

.cartaTabla{
    width: 12%;
}