/*FORMS*/
form{ 
    label{
        color: white;
        font-family: 'Assistant', sans-serif;
        font-size: 15px;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }

    input{
        width: 30%;
        padding: 12px 20px;
        margin-top: 16px;
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        border: none;
        border-bottom: 2px solid gray;
        background-color:rgba(0, 0, 0, 0);
        display: block;
        color: white;
    }

    a{
        color: white; 
        font-family: 'Assistant', sans-serif;
    }
}

/*Olvidaste tu contraseña?*/
.sesioncontrasena{
    color: white;
    margin-left: 1%;
    font-family: 'Assistant', sans-serif;
}