/* Imagenes de fondo */
.index{
    background-image: url(../imagenes/background-img2.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.iniciarSesion{
    background-image: url(../imagenes/iniciarsesionToro.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.inscripciones{
    background-image: url(../imagenes/inscripcionesToro.png);
    background-attachment: fixed;
    background-repeat: no-repeat;

    overflow: hidden;
}
.multimedia{
    background-image: url(../imagenes/recordsToro.png);
    background-attachment: fixed;
    background-repeat: no-repeat;

    overflow-x: hidden;
}
.rankings{
    background-attachment: fixed;
    background-image: url(../imagenes/cuernoToro.png);
    background-repeat: no-repeat;
}
.voteFijo{
    background-color: rgba(23, 32, 42, 0.4);
    display: inline;
    padding: 300% 100% 8.5% 0;
    box-shadow: 50px 50px 50px -46px #696969;
    z-index: -1;
}

/*TEXTOS*/
main{ 
    h1{
        color:map-get($mainColors, amarillo);
        font-family: 'Heebo', sans-serif; 
        font-size: $large;
        margin-left: 35px;
        font-weight: bolder;
    }

    h2{
        color: white;
        font-family: 'Heebo', sans-serif; 
        font-size: 38px;
        font-style: italic;
        text-align: right;
        margin-right: 18.5%;
    }

    h3{
        color:map-get($mainColors, amarillo);
        font-family: 'Heebo', sans-serif; 
        font-size: 35px;
        margin-left: 109px;
    }

    h4{
        color:map-get($mainColors, amarillo);
        font-family: 'Heebo', sans-serif; 
        font-size: 37px;
        position: relative;
        margin: -3% 0 2% 0;
        text-align: center;
    }

    h6{
        color: white;
        font-size: 15px;
        font-family: 'Assistant', sans-serif;
        font-style: italic;
        margin-left: 70px;
        margin-top: -7px;
        font-weight: bolder;
    }

    p{
        color: white;
        font-family: 'Lobster', sans-serif;
        margin-left: 35px;
    }
}

div{
    h1{
        color:map-get($mainColors, amarillo);
        font-family: 'Heebo', sans-serif; 
        text-align: center;
        margin: 11% 0 0 0;
    }

    h2{
        color: #097F72;
        font-family: 'Heebo', sans-serif; 
        font-size: 30px;
        margin-top: -34rem;
        margin-left: 135px;
        text-align: unset;
    }

    h6{
        color: white;
        font-size: $medium;
        font-family: 'Assistant', sans-serif;
        font-style: italic;
        margin-left: 104px;
        margin-top: -14px;
    } 

    p{
        color: white;
        font-family: 'Lobster', sans-serif;
        text-align: center;
        font-size: $small;
        margin-left: 5px;
    }

    #parrafoCuerno{
        color: white;
        font-family: sans-serif;
        font-weight: bolder;
        text-align: center;
        font-size: $small;
        margin-left: 5px;
    }

    section {
        background: white;
        display: flex;
        padding: 6px;
        width: 25%;
        justify-content: center;
        text-align: center;
        margin-left: 51%;

        p{
            color: black;
        }
    }
}

section{ 
    h1{
        color: map-get($mainColors, amarillo);
        font-family: 'Heebo', sans-serif;
        font-size: 55px;
        text-align: center;
        margin-top: 25px;
        margin-left: 0;
    }

    h2{
        color:map-get($mainColors, amarillo);
        font-family: 'Heebo', sans-serif; 
        font-size: 45px;
        text-align: center;
        margin: 25px 0 0 0;
    }

    p{
        color: map-get($mainColors, amarillo);
        font-family: 'Heebo', sans-serif;
        font-weight: bolder;
    }
}

.punteros{ 
    p{
        color: white;
        font-family: 'Lobster', sans-serif;
        text-align: center;
        font-size: $small;
        margin-left: 8px;
        position: absolute;
        margin-top: -26px;
    }

    h4{
        color: #bbbbbb;
        font-family: 'Lobster', sans-serif;
        text-align: justify;
        font-size: $medium;
        position: unset;
        margin: 0;
    }

    h6{
        color: white;
        font-size: 15px;
        font-family: 'Assistant', sans-serif;
        font-style: italic;
        margin-left: 8px;
        margin-top: -10px;
        position: absolute;
    }
}

.inscripcionestitle{
    color:map-get($mainColors, amarillo);
    font-family: 'Heebo', sans-serif; 
    font-size: 45px; 
    text-align: center;
    position: relative;
    margin-left: 50%;
    bottom: -3rem;
}

#tituloinscripcion{
    color: map-get($mainColors, amarillo);
    font-family: "Heebo", sans-serif;
    text-align: center;
    margin: 0px 0 10px 96px;
    font-size: $large;
    font-weight: bolder;
}

.pieimagen{
    color: gray;
    font-size: 13px;
}

.titlesesion{
    color:map-get($mainColors, amarillo);
    font-family: 'Heebo', sans-serif; 
    font-size: $large;
    text-align: center;
    margin-left: 0;
}

mark {
    background-color: rgba(255, 210, 4, 0.4);
    color: white;
}

.sesionlinks {
    display: inline-flex;
    justify-content: center;
    gap: 11%;
    margin: 2% 27.5%;
    width: 45%;
}

#subtitulomultimedia{
    color: white;
    font-family: 'Heebo', sans-serif; 
    font-size: 38px;
    text-align: center;
    margin: 0;
}

/*MULTIMEDIA*/

#noticiasContenedor{
    margin-left: 26%;
    margin-top: 4%;
    width: 143%;

    .pieimagen{
        font-size: 17px;
        margin-right: 65%;
        margin-left: 0;
        text-align: center;
        margin-bottom: 2%;
    }
}

.noticias{
    width: 35%;
    box-shadow: 6px 0px 22px 4px #141414;
    transition: 0.2s;
    &:hover{
        width: 36%;
    }

    border-radius: 8px;
}

.videoyt{
    width: 35%;
    box-shadow: 6px 0px 22px 4px #141414;
    transition: 0.2s;
    &:hover{
        width: 36%;
    }

    border-radius: 8px;
}

.toro-milano{
    width: 250px;
    margin-left: 75px;
}


.punteroscontainer {
    display: flex;
    gap: 3%;
    margin-left: 10%;
    margin-top: 6%;
}

.punteros{ 
    img{
        width: 50%;
    }

    h4:hover{
        color: map-get($mainColors, amarillo);
        cursor: default;
    }

    &:hover{ 
        img{
            transform: rotate(-15deg);
            transition: 0.5s;
        }

        p{
            color: map-get($mainColors, amarillo);
        }
    }
}

#active{
    color: map-get($mainColors, azul);
}

#toroinscrip{
    width: 18rem;
    margin-left: 6rem;
    box-shadow: 5px 5px 10px #423601;
}