/* ----------- MEDIA QUERYS ------------ */
@media only screen and (max-width: 480px){
    /*BACKGROUND*/
    .index{
        background-image: url(../imagenes/backgroundmobile/backgroundimgmobile.png);
    }

    .iniciarSesion{
        background-image: url(../imagenes/backgroundmobile/iniciarsesionmobile.png);
    }

    .rankings{
        background-color: #292828;
        background-image: url(../imagenes/backgroundmobile/rankingsmobile.png);
        background-repeat: no-repeat;
    }

    .inscripciones{
        background-image: url(../imagenes/backgroundmobile/inscripmobile.png);
        overflow: unset;
    }

    .multimedia{
        background-image: url(../imagenes/backgroundmobile/multimmobile.png);
        background-attachment: fixed;
        background-repeat: no-repeat;
        overflow-x: hidden;
        background-size: cover;
    }

    /*HEADER*/

    #sesionmobile{
        display: unset;
    }

    .buttonsesion{
        display: none;
    }

    .navbar-nav{
        margin-left: 65%;
    }

    .navbar-expand-lg .navbar-collapse {
        margin-left: 0;
    }

    /*MAIN*/
    /*Textos*/
    main{ 
        h1{
            color:map-get($mainColors, amarillo);
            font-family: 'Heebo', sans-serif; 
            font-size: 40px;
            margin-top: 11% !important;
            display: flex;
            justify-content: center;
            margin-left: 0;
            text-align: center;
        }

        h3{
            text-align: center;
            margin-top: 15%;
            margin-left: 0;
            font-size: 28px;
        }

        h4{
            font-size: 25px;
            margin: 5% 0 2% 0;
            em{
                font-size: 35px;
            }
        }

        h6{
            color: white;
            font-size: 15px;
            font-family: 'Assistant', sans-serif;
            font-style: italic;
            margin-top: 0;
            display: flex;
            justify-content: center;
            margin-left: 0;
            text-align: center;
            font-weight: bolder;
        }

        a{
            list-style-type: none;
            overflow: hidden;
            text-decoration: none;
            color: white;
            font-family: 'Assistant', sans-serif;
            font-size: 12px;
            display: flex;
            justify-content: center;
            text-align: center;
        }
    }
    
    section{ 
        a{
            list-style-type: none;
            overflow: hidden;
            text-decoration: none;
            color: white;
            font-family: 'Assistant', sans-serif;
            font-size: 12px;
            text-align: center;
            display: unset;
        }

        h2{
            font-size: 175%;
        }
    }

    section table{
        width: 90% !important;
        font-size: 53% !important;
    }

    .sesionlinks{
        display: flex;
        justify-content: space-around;
        margin: 2% 10%;
        margin-top: 4%;
        width: unset;
    }

    mark{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-left: -35px;
        margin-top: 15%;
    }

    .pieimagen{
        color: gray;
        font-size: 13px;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-left: -1%;
    }

    .punteroscontainer{
        gap: 1%;
        margin-left: -7%;
    }

    .punteros{
        h4{
            text-align: left;
            font-size: 0.75rem;
        }

        h6{
            font-size: 14px;
            margin-left: 0;
            margin-top: 14px;
            text-align: justify;
        }

        p{
            font-size: 9.5px;
            margin-top: 0;
            margin-left: 0;
        }

        img{
            width: 79%;
            margin-top: 20%; 
        }

        /*
        &:hover{
            #deployCuernoRank{
                display: block !important;
            }
        }*/
    }

    .ranksMobile{
        display: none;
    }

    #parrafoCuerno{
        font-size: 40% !important;
    }
    
    div{
        h1{
            margin: 0;
        }

        h2{
            margin: 189px 0 0 0;
            text-align: center;
        }
    }

    .inscripcionestitle{
        margin-left: 1rem;
        bottom: -23px;
        right: 10px;
    }

    #tituloinscripcion{
        color: map-get($mainColors, amarillo);
        font-family: "Heebo", sans-serif;
        font-size: 40px;
        margin-top: 11% !important;
        display: flex;
        justify-content: center;
        margin-left: 0;
        text-align: center;
    }
    
    /*Botones*/
    .buttoncuerno{
        background-color: map-get($mainColors, amarillo);
        font-family: 'Lobster', sans-serif;
        border: none;
        color: black;
        padding: 8px 16px;
        font-size: 16px;
        margin: 4px 2px;
        opacity: 0.8;
        transition: 0.3s;
        text-decoration: none;
        cursor: pointer;
        border-radius: 4px;
    }

    .inicioSesion {
        color: white;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4%;
        display: block;
        text-decoration: none;
        cursor: pointer;
        border-radius: 4px;
        transition: 0.3s;
        background-color: rgba(178, 162, 115, 1);
        text-align: center;
        font-size: 16px;
        font-family: 'Lobster', sans-serif;
        border: none;
        width: 73%;
        height: 36px;
    }

    .inicioGoogle {
        color: #B2A273;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-decoration: none;
        cursor: pointer;
        border-radius: 4px;
        transition: 0.3s;
        background-color: rgba(255, 255, 255, 1);
        text-align: center;
        font-size: 16px;
        font-family: 'Lobster', sans-serif;
        border: none;
        width: 73%;
        height: 36px;
    }

    .buttoninscripcion{
        margin: 4% auto auto auto;
        right: 0;
        font-size: 12px;
        padding: 10px;
        width: 260px;
        display: flex;
        justify-content: center;
    }

    div a{
        display: unset;
    }

    /*Forms*/
    form input {
        width: 70% !important;
    }

    /* MULTIMEDIA */
    .toro-milano{
        width: 55%;
        margin-left: 23.5%;
    }

    #toroinscrip{
        width: 13rem;
        margin-left: 0;
    }

    .punteroscontainer{
        .punteros:nth-child(n+3){
            margin-top: 56%;
        }

        .punteros:nth-child(-n+2){
            display: inline;
        }

        .punteros:nth-child(1){
            margin-left: 15%;
        }

        .punteros:nth-child(3){
            margin-left: -85%;
        }
    }

    .cartas{
        margin: 2% 5%;
    }

    .carta{
        width: 30%;
    }

    .cartasestaticas{
        margin-top: 5%;
    }

    .cartaestatica{
        padding: 0.4rem;
        width: 31%;
    }

    .cartasporcentajes{
        gap: 25%;
        font-size: 15px;
        margin: 0;
        p{
            margin: 0;
        }
    }

    #noticiasContenedor{
        margin-left: 7%;
        .pieimagen{
            font-size: 12px;
            text-align: justify;
            display: block;
            margin: 0 57% 2% 0;
        }
    }

    .noticias{
        width: 60%;
        &:hover{
            width: 61%;
        }
    }

    .videoyt{
        width: 60%;
        &:hover{
            width: 61%;
        }
    }

    /* TABLES */
    .tablescroll{
        height: 400px !important;
        width: 95% !important;
        margin: 20px auto auto auto;
    }

    .inscriptos{
        margin-left: 15px !important;
    }

}

/* @media only screen and (min-width: 481px) and (max-width: 768px){

}

@media only screen and (min-width: 769px){

}
*/

@media only screen and (min-width: 481px) and (max-width: 991px){
    /*BACKGROUNDIMAGES*/
    .index{
        background-image: url(../imagenes/backgroundtablet/mainbackgroundtablet.png);
    }

    .iniciarSesion{
        background-image: url(../imagenes/backgroundtablet/sesionbackgroundtablet.png);
    }

    .rankings{
        background-image: url(../imagenes/backgroundtablet/rankingbackgroundtablet.png);
    }

    .inscripciones{
        background-image: url(../imagenes/backgroundtablet/inscripbackgroundtablet.png);
        overflow: unset;
    }

    .multimedia{
        background-image: url(../imagenes/backgroundtablet/multimbackgroundtablet.png);
        background-size: cover;
    }

    .voteFijo{
        background-color: unset;
        box-shadow: none;
    }

    /* HEADER */
    .navbar-nav{
        margin-left: 84%;
    }

    .navbar-expand-lg .navbar-collapse {
        margin-left: 0;
    }
    /* TEXTOS */
    main{ 
        h1{
            text-align: center;
        }

        h6{
            text-align: center;
        }

        p{
            text-align: center;
        }
    } 

    div{
        h2{
            margin: 189px 0 0 0;
            text-align: center;
        }
    }

    .sesionlinks{
        display: inline-flex;
        justify-content: center;
        gap: 30%;
        margin: 2% 28%;
        width: 45%;
    }

    .punteros{ 
        h4{
            font-size: 0.7rem;
        }

        h6{
            font-size: 0.8rem;
        }

        p{
            font-size: 0.5rem;
            margin-top: -31px;
        }

        img{
            width: 70%;
            margin-top: 15%;
        }
    }

    section{
        td{
            font-size: 0.63rem;
        }
    }

    .inscripcionestitle{
        margin-left: -6rem;
        bottom: -23px;
        text-align: center;
    }

    /* MULTIMEDIA */
    .toro-milano{
        width: 35%;
        margin-left: 35%;
    }

    .carta{
        width: 114px;
    }

    .cartas{
        margin: 2% 15%;
    }

    .cartasporcentajes{
        gap: 8rem;
        font-size: 1.5rem;
        margin: 0;
        p{
            margin: 0;
        }
    }

    .cartaestatica{
        width: 175px;
    }

    #noticiasContenedor{
        margin: 4% 0 0 10%;
        .pieimagen{
            margin: 0 44% 2% 0;
        }
    }

    .noticias{
        width: 56%;
        &:hover{
            width: 57%;
        }
    }

    .videoyt{
        width: 56%;
        &:hover{
            width: 57%;
        }
    }

    /* BOTONES */
    .buttoncuerno{
        margin: 2% 40%;
        width: 24.8%;
        justify-content: center;
    }

    .inicioSesion{
        width: 42.5%;
        margin-bottom: 2%;
    }

    .inicioGoogle{
        width: 42.5%;
    }

    .buttoninscripcion{
        margin: 0.7rem auto auto auto;
        display: flex;
        justify-content: center;
        position: relative;
        left: 50px;
    }

    /* FORMS */

    form{ 
        input{
            width: 40% !important;
        }

        a{
            margin-left: 0;
        }
    }

    section a{
        margin-left: 43%;
    }

    /* TABLES */
    .tablescroll{
        height: 300px !important;
        width: 95% !important;
        margin-left: 0;
        margin-top: 0 !important;
    }
}

//DESKTOP
@media only screen and (min-width: 992px){
    #navcolorfix{
        --bs-nav-link-color: rgb(255,255,255);
        --bs-nav-link-hover-color: map-get($mainColors, amarillo);
    }
}
